.btn-wrapper {
    position: relative;
    margin: 200px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-wrapper .btn {
    width: 120px;
    padding: 10px;
    text-align: center;
    background-color: green;
    color: hotpink;
    position: relative;
    outline: none;
    border: none;
    border-radius: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}